
main{
    background-color: lightblue;
    height: 100vh;
}
#head{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

.box{
    width: 100%;
    text-align: center;
}

.box button{
    width: 50%;
    padding: 10px;
    cursor: pointer;
    margin: 10px;
}