body{
    font-family: "Robot", sans-serif;
    display: flex;
    justify-content: center;
}

.container{
    width: 400px;
    border: 2px solid lightblue;
}

.sub-container{
    margin: 10px 10px 10px 10px;
    border: 1px solid black;
    padding: 20px;
}

.sub-container label{
    font-size: 15px;
}

.sub-container h2{
    margin-top: 10px;
    margin-bottom: 10px;
}

.sub-container input{
    width: 95%;
    padding: 10px;
    margin: 10px auto 10px;
    border-radius: 4px;
    border: 1.5px solid grey;
}

.sub-container #add-product{
    width: 101%;
    padding: 10px;
    background-color: skyblue;
    color: white;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
}

.inventory-list{
    display: flex;
    flex-direction: column;
}

.inventory-list h4{
    margin-top: 20px;
    margin-bottom: 10px;
}

#inventory{
    border: 1px solid  #dfd6d6;
    border-collapse: collapse;
    box-sizing: border-box;
   

}

#inventory th, #inventory td{
    padding: 5px;
}

#inventory th{
    text-align: left;
    font-size: 13px;
    border: 1px solid  #dfd6d6;
    background-color: #f0eaea;

}

#inventory td{
    font-size: 13px;
    border: 1px solid  #dfd6d6;
}

#inventory td .delete{
    float: right;
    color: white;
    background-color: red;
    border: 0;
    cursor: pointer;
    border-radius: 50%;
}

#inventory td .edit{
    float: right;
    color: black;
    background-color: rgb(179, 200, 219);
    border: 0;
    cursor: pointer;
    margin-right: 5px;
    border-radius: 3px;
}
