body{
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
}

.container{
    width: 350px;
    border: 3px solid lightblue;

}

.sub-container{
    margin: 5px 5px 5px 5px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.getInput{
    display: flex;
    margin-bottom: 10px;
}

.sub-container .getInput, h2, table, p{
    padding-right: 15px;
    padding-left: 15px;
}

.sub-container input{
 /* width: 70%; */
    padding: 5px;
    flex-grow: 0.7;
    border-radius: 0px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: 1px solid black;


}

.sub-container button{
    width: 20%;
    border: 0px;
    
    background-color: rgb(72, 149, 177);
    color: white;
    padding: 5px;
    cursor: pointer;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    
    
}

table{
    width: 94%;
}
th{
    text-align: left;
    font-weight:normal;
    padding: 0px;
    
}

td{
    text-align: right;
    padding: 0px;
}

img{
    width: 50px;
    height: 50px;
    float: right;
}
